# Privacidad y Configuracion local
config.json
.organizer_history.json

# Entorno de pruebas
sandbox_test/
sandbox_test_out/

# Python Cache y Entornos
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.pytest_cache/